<div>
  <div class='row'>
    <div class='col-md-8'>
      <div class='row'>
        <div class='col-md-4'>Name:</div>
        <div class='col-md-8'>{{name}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'>Description:</div>
        <div class='col-md-8'>{{description}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'>Category:</div>
        <div class='col-md-8'>{{category}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'>Availability:</div>
        <div class='col-md-8'>{{isAvailable}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'>Price:</div>
        <div class='col-md-8'>{{price}}</div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Items</div>
  <div class="panel-body">
    <ul>
      <li *ngFor="let product of products">
        <ul>
          <li>Name: {{product.name}}</li>
          <li>Description: {{product.description}}</li>
          <li>Category: {{product.category}}</li>
          <li>Availability: {{product.isAvailable}}</li>
          <li>Price: {{product.price}}</li>
        </ul>
        <button class="btn btn-primary" (click)="onBuy(product)">Buy</button>
      </li>
    </ul>
  </div>
</div>