<div *ngIf="isCartEmpty(); else emptyCart">
    <div>
        Order By:
        <select [(ngModel)]="selectedOrder">
            <option *ngFor="let selectedOrder of orders" [ngValue]="selectedOrder">
                {{selectedOrder}}
            </option>
        </select>
        <!-- Descending:
      <select [(ngModel)]="direction">
          <option *ngFor="let direct of directions" [ngValue]="direction">
              {{direct}}
          </option>
      </select> -->
    </div>
    <app-cart-item *ngFor="let cartItem of getProductsFromCart() | orderBy : selectedOrder : false" [cartItem]="cartItem"
        (removeCartItem)="onRemoveItem($event)" (changeQuantity)="onChangeQuantity($event)">
    </app-cart-item>
    <button class="btn btn-primary" (click)="onRemoveAll()">Remove All</button>
    <h3>Count: {{cartService.itemsCount}} Total Price: {{cartService.totalPrice}} </h3>
</div>
<ng-template #emptyCart>
    <h4>
        Cart is empty
    </h4>
</ng-template>